<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.diegosouza.controllife">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Control Life"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".LeitorActivity" />
        <activity android:name=".CadUsuarioActivity" />
        <activity android:name=".CadMedicacaoActivity" />
        <activity android:name=".HistoricoActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>